.Loading-Screen {
}

.img_loading_screen {
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    
}
.ListWrapper {
    max-width: 700px;
    margin: auto;
    padding-top: 50px;
    
}

.FormTitle {
    text-align: center;
}